
@{
    ViewData["Title"] = "Rosabel";
}

<h1>Rosabel</h1>

<p>Rosabel was here</p>
<p>
     If this code works, then it was writen by Rosabel Olugbenga. If it doesn't, then i can only say one thing  "IT IS WHAT IT IS".
</p>